.postList-box {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 10px 10px 20px 10px;
    box-shadow: 3px 3px 5px 3px gray;
}

.postList-text {
    width: 75%;
    margin: 10px 0;
    h2 {
        font-size: 3rem;
        border-bottom: 1px solid black;
        padding: 20px 0;
    }
}

.postList-content {
    margin-top: 5px;
    span {
        font-size: 17px;
    }
}

.postList-img-box {
    width: 130px;
    margin: 10px 0;

    img {
        width: inherit;
    }
}