.write-content-box {
    width: 100%;
    margin: 20px 0;
}

.write-content-input {
    margin: 5px;
    resize: none;
    width: inherit;
    min-height: 40%;
    font-size: 18px;
    border: none;
    line-height: 1.5;

    &:focus {
        outline: none;
    }
}