.detail-category {
    width: 25%;
    padding: 8px 0;
    cursor: pointer;
    margin: 10px 0;

    p {
        padding: 7px 0;
        font-size: 13px;
        font-weight: 400;
        color: #444;
        background-color: #fff;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    
        &:hover {
            border-color: darkblue;
        }
    }
}


